/* ==UserStyle==
@name           BetterSpicychat
@namespace      https://github.com/uliminas/stylus-spicychat.ai
@version        1.1.1
@description    Theme made to look like the old theme with extra features
@author         Uliminas
@homepageURL    https://github.com/uliminas/stylus-spicychat.ai
@updateURL      https://raw.githubusercontent.com/uliminas/stylus-spicychat.ai/refs/heads/main/BetterSpicychat.css
@supportURL     https://github.com/uliminas/stylus-spicychat.ai/issues
==/UserStyle== */

@-moz-document url-prefix("https://spicychat.ai/chat/") {
    /* Message BG */
    .bg-gray-4 {
        background-color: rgb(25, 25, 25) !important;
    }
    .bg-blumine-6 {
        background-color: rgb(13, 22, 39) !important;
    }

    /* Text */
    em.italic {
        color: rgb(0, 200, 255) !important;
    }

    /* Advert */
    .\[\&_iframe\]\:rounded-2xl > .w-full {
        display: none !important;
    }
}
